{% extends 'base.html.twig' %}

{% block body %}
    <article>
        <h2>Titre de l'article</h2>
        <div class="metadata">Ecrit le 10/02/2020 à 19:00</div>
        <div class="content">
            <img src="http://placehold.it/350x150" alt="">
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quam totam neque provident beatae, excepturi
                labore.</p>
            <p>Aspernatur unde sit, architecto ullam et nobis vero libero rem dignissimos! Mollitia laboriosam praesentium
                omnis?</p>
            <hr>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae ullam numquam ipsam incidunt, dolore, possimus ea earum, blanditiis suscipit expedita inventore. Consequuntur corrupti deleniti ad quidem excepturi ab, sed eos expedita repellat modi ipsum aspernatur dolores at quos molestiae velit tempore totam maiores. Rem, possimus incidunt ipsam similique illo doloremque.</p>
            <p>Rem dignissimos architecto necessitatibus ad vitae possimus praesentium consectetur aspernatur magnam quasi dolores ipsa magni harum facere maiores illo reiciendis itaque cupiditate, nostrum molestiae voluptatum officia recusandae? Sed sequi repellendus doloremque sapiente, laborum non saepe, illo eaque minima quasi est. Unde porro ipsum nostrum dolor numquam illum! Corrupti, adipisci sed?</p>
        </div>
    </article>
{% endblock %}